<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="title">Reset Your Password</div>

    <form method="post" th:action="@{/forgot-password}" role="form" class="form-horizontal">
        <div>
            <input type="email" id="email" name="email" class="input-field email" placeholder="Enter your email" required>
        </div>

        <div>
            <button type="submit" class="login-btn login-btn_reset">Send Reset Link</button>
        </div>
    </form>

    <div>
        <a href="/login" class="back-to-login">Back to Login</a>
    </div>

</div>

</body>
</html>
