<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="title">Log in</div>

    <span class="not_have_account">
        Doesn't have an account yet?
        <a class="sign_up_button" th:href="@{/register}">Sign up</a>
    </span>

    <form method="post" th:action="@{/login}" role="form" class="form-horizontal">
        <div>
            <input type="text" id="username" name="username" class="input-field username" placeholder="enter user name/email">
            <input type="password" id="password" name="password" class="input-field password" placeholder="enter password">
        </div>

        <div class="forgot-password-wrapper">
            <a th:href="@{/forgot-password}" class="forgot-password">Forgot your password?</a>
        </div>

        <div>
            <button type="submit" class="login-btn login-btn_login">Login</button>
        </div>
    </form>

    <div class="separator separator_login">
        <div class="line left"></div>
        <span class="or">or</span>
        <div class="line right"></div>
    </div>

    <div>
        <button class="google-btn google-btn_log">Login with Google</button>
    </div>
</div>

</body>
</html>
