<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">

  <!-- Title -->
  <div class="title">Sign up</div>

  <!-- Sign up prompt -->
  <span class="not_have_account">
        Already have an account?
        <a class="sign_up_button" th:href="@{/login}">log in</a>
    </span>

  <!-- Input fields -->
  <form method="post" th:action="@{/register/save}" th:object="${user}" role="form" class="form-horizontal">
    <div>
      <input
              type="text"
              id="name"
              name="Name"
              class="input-field name"
              placeholder="Name"
              th:field="*{name}" />
      <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>

      <input
              type="email"
              id="email"
              name="email"
              class="input-field email"
              placeholder="Email"
              th:field="*{email}" />
      <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>

      <input
              type="password"
              id="password"
              name="password"
              class="input-field create_password"
              placeholder="Password"
              th:field="*{password}" />
      <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
    </div>

    <!-- Register button -->
    <div>
      <button type="submit" class="login-btn login-btn_sign_up">Sign up</button>
    </div>
  </form>

  <!-- Separator -->
  <div class="separator separator_sign_up">
    <div class="line left"></div>
    <span class="or">or</span>
    <div class="line right"></div>
  </div>

  <!-- Google sign-up button -->
  <div>
    <button class="google-btn google-btn_sign_up">Sign up with Google</button>
  </div>

</div>




</body>
</html>