<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
<!--  <link href="/css/bootstrap.min.css"-->
<!--        rel="stylesheet">-->
  <link href="/css/style_login.css" rel="stylesheet">
</head>
<body>
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" th:href="@{/index}">Registration and Login System</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--<br /><br /><br />-->
<!--<div class="container">-->
<!--  <div class="row col-md-8 offset-md-2">-->
<!--    <div class="card">-->
<!--      <div class="card-header">-->
<!--          <h2 class="text-center">Registration</h2>-->
<!--      </div>-->
<!--      <div th:if="${param.success}">-->
<!--          <div class="alert alert-info">-->
<!--            You have successfully registered our app!-->
<!--          </div>-->
<!--      </div>-->
<!--      <div class="card-body">-->
<!--          <form-->
<!--            method="post"-->
<!--            role="form"-->
<!--            th:action="@{/register/save}"-->
<!--            th:object="${user}"-->
<!--          >-->
<!--            <div class="form-group mb-3">-->
<!--              <label class="form-label">First Name</label>-->
<!--              <input-->
<!--                      class="form-control"-->
<!--                      id="firstName"-->
<!--                      name="firstName"-->
<!--                      placeholder="Enter first name"-->
<!--                      th:field="*{firstName}"-->
<!--                      type="text"-->
<!--              />-->
<!--              <p th:errors = "*{firstName}" class="text-danger"-->
<!--              th:if="${#fields.hasErrors('firstName')}"></p>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label class="form-label">Last Name</label>-->
<!--              <input-->
<!--                      class="form-control"-->
<!--                      id="lastName"-->
<!--                      name="lastName"-->
<!--                      placeholder="Enter last name"-->
<!--                      th:field="*{lastName}"-->
<!--                      type="text"-->
<!--              />-->
<!--              <p th:errors = "*{lastName}" class="text-danger"-->
<!--                 th:if="${#fields.hasErrors('lastName')}"></p>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label class="form-label">Email</label>-->
<!--              <input-->
<!--                      class="form-control"-->
<!--                      id="email"-->
<!--                      name="email"-->
<!--                      placeholder="Enter email address"-->
<!--                      th:field="*{email}"-->
<!--                      type="email"-->
<!--              />-->
<!--              <p th:errors = "*{email}" class="text-danger"-->
<!--                 th:if="${#fields.hasErrors('email')}"></p>-->
<!--            </div>-->

<!--            <div class="form-group mb-3">-->
<!--              <label class="form-label">Password</label>-->
<!--              <input-->
<!--                      class="form-control"-->
<!--                      id="password"-->
<!--                      name="password"-->
<!--                      placeholder="Enter password"-->
<!--                      th:field="*{password}"-->
<!--                      type="password"-->
<!--              />-->
<!--              <p th:errors = "*{password}" class="text-danger"-->
<!--                 th:if="${#fields.hasErrors('password')}"></p>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <button class="btn btn-primary" type="submit">Register</button>-->
<!--              <span>Already registered? <a th:href="@{/login}">Login here</a></span>-->
<!--            </div>-->
<!--          </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container">

  <!-- Title -->
  <div class="title">Sign up</div>

  <!-- Sign up prompt -->
  <span class="not_have_account">
        Already have an account?
        <a class="sign_up_button" th:href="@{/login}">log in</a>
    </span>

  <!-- Input fields -->
  <form method="post" th:action="@{/register/save}" th:object="${user}" role="form" class="form-horizontal">
    <div>
      <input
              type="text"
              id="name"
              name="Name"
              class="input-field name"
              placeholder="Name"
              th:field="*{name}" />
      <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>

      <input
              type="email"
              id="email"
              name="email"
              class="input-field email"
              placeholder="Email"
              th:field="*{email}" />
      <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>

      <input
              type="password"
              id="password"
              name="password"
              class="input-field create_password"
              placeholder="Password"
              th:field="*{password}" />
      <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
    </div>

    <!-- Register button -->
    <div>
      <button type="submit" class="login-btn login-btn_sign_up">Sign up</button>
    </div>
  </form>

  <!-- Separator -->
  <div class="separator separator_sign_up">
    <div class="line left"></div>
    <span class="or">or</span>
    <div class="line right"></div>
  </div>

  <!-- Google sign-up button -->
  <div>
    <button class="google-btn google-btn_sign_up">Sign up with Google</button>
  </div>

</div>




</body>
</html>