<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Registration and Login System</title>
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">

  <div class="title">Settings</div>

  <div class="not_have_account">
    <a class="sign_up_button" th:href="@{/todos}">Close</a>
  </div>
  <div>
    <a class="sign_up_button" th:href="@{/logout}">Logout</a>
  </div>

  <form  method="post" th:action="@{/settings/save}" th:object="${user}" role="form" class="form-horizontal">
    <div>
      <input
              type="text"
              id="name"
              name="Name"
              class="input-field name"
              placeholder="Name"
              th:field="*{name}" />
      <p th:errors="*{name}" class="text-danger" th:if="${#fields.hasErrors('name')}"></p>

      <input
              type="email"
              id="email"
              name="email"
              class="input-field email"
              placeholder="Email"
              th:field="*{email}" />
      <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>

      <input
              type="password"
              id="password"
              name="password"
              class="input-field create_password"
              placeholder="Change your password"
              th:field="*{password}" />
      <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>
    </div>
    <div>
      <button type="submit" class="login-btn login-btn_sign_up">Save changes</button>
    </div>
  </form>
</div>

</body>
</html>