<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div class="top-right-container">
    <a href="/notes" class="top-right-button">Go to Notes</a>
    <a href="/calendar" class="top-right-button">Go to Calendar</a>
</div>
<div class="task_menager">
    <div class="task_menager_title">Task Manager</div>
    <div class="add_task">
        <div class="tm_titles">
            <div class="titles_text">Add Task</div>
        </div>
        <div class="tm_content">
            <form method="post" role="form" th:action="@{/todos/save}" th:object="${todo}" id="addTaskForm">
                <input
                        type="text"
                        class="add_task_content_field add_task_content_field_title"
                        placeholder="Title"
                        name="title"
                        id="title"
                        th:field="*{title}"
                />
                <select
                        class="add_task_content_field add_task_content_field_priority"
                        placeholder="Priority"
                        name="priority"
                        id="priority"
                        th:field="*{priority}"
                >
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
                <input
                        type="date"
                        class="add_task_content_field add_task_content_field_date"
                        placeholder="Completion Date"
                        name="deadline"
                        th:field="*{deadline}"
                />
                <textarea
                        class="add_task_content_field add_task_content_field_description"
                        placeholder="Enter description"
                        name="description"
                        id="description"
                        th:field="*{description}"
                        type="text"
                ></textarea>
                <button type="submit" class="add_task_content_field_btn add_task_content_field_btn_save">
                    Save
                </button>
                <button type="button" class="add_task_content_field_btn add_task_content_field_btn_cancel" onclick="clearFields()">
                    Cancel
                </button>
            </form>
        </div>
    </div>
    <script>
        function clearFields() {
            const form = document.getElementById('addTaskForm');
            if (form) {
                form.reset();
            }
        }
    </script>
    <div class="all_tasks">
        <div class="tm_titles">
            <div class="titles_text">All Tasks</div>
        </div>
        <div class="tm_content">
            <table>
                <tbody>
                <tr class="one_task" th:each = "todo : ${todos}">
                    <td th:text = "${todo.title}"></td>
                    <td th:text = "${todo.description}"></td>
                    <td th:text = "${todo.completed}"></td>
                    <td th:text = "${todo.deadline}"></td>
                    <td th:text = "${todo.priority}"></td>
                    <td>
                        <a class="btn btn-danger" th:href="@{/todos/{todoId}/delete(todoId=${todo.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>